div{
  width: 100px;
  height: 100px;
  background-color: #ff4d4d;
  clip-path: path('M12 21.593c-5.63-5.54-11-10.301-11-15.093 0-3.15 2.45-6.1 5.5-6.1 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.05 0 5.5 2.95 5.5 6.1 0 4.792-5.37 9.553-11 15.093z');
  transform: scale(3);
  margin: 50px auto;
}

body{
  display: flex;
  aling-items: center;
  flex-direction: column;
}
