div{
  width: 100px;
  height: 100px;
  background-color: #ff4d4d;
  clip-path: polygon(50% 15%, 61% 2%, 80% 2%, 95% 15%, 95% 40%, 50% 95%, 5% 40%, 5% 15%, 20% 2%, 39% 2%);
  margin: 100px 0;
  animation-name: aparecer;
  animation-duration: 5s;
  animation-fill-mode: both;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffe6e6;
}

@keyframes aparecer {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

h1{
  background-color: #1a0000;
}

h2{
  background-color: #470000;
}

p{
  background-color: #750000;
}
