div{
  width: 100px;
  height: 100px;
  background-color: #ff4d4d;
  clip-path: polygon(47% 33%, 56% 21%, 70% 25%, 46% 68%, 35% 24%, 41% 26%, 44% 29%, 53% 26%, 61% 19%, 50% 30%, 48% 34%, 23% 41%, 23% 38%, 26% 27%, 30% 23%, 24% 33%, 75% 35%, 73% 30%, 66% 22%, );
  transform: scale(5);
  margin: 100px 0;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
}
